﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="section-wrapper">
    <!-- trang chủ -->
    <section class="section bg-1 top" id="section-1">

        <div class="container">
            <h2 class="text-uppercase text-center leading-text">Giải pháp công nghệ</h2>
            <h2 class="text-uppercase text-center following-text">toàn diện</h2>
            <div class="app-nav">
                <div class="app-nav-inner">
                    <div class="app-icons">
                        <div class="app-icons-center-block">
                            <img src="images/center-block.png" class="img-fluid" alt="mobile" />
                        </div>
                        <div class="app-icons-center-secant">
                            <div class="app-icons-center-secant__circles">
                                <div class="app-icons-center-secant__circles--first"></div>
                                <div class="app-icons-center-secant__circles--second"></div>
                                <div class="app-icons-center-secant__circles--third"></div>
                                <div class="app-icons-center-secant__circles--fourth"></div>
                                <div class="app-icons-center-secant__circles--fifth"></div>
                                <div class="app-icons-center-secant__circles--sixth"></div>
                            </div>
                            <div class="app-icons-center-secant__container">
                                <img src="images/center-secant.png" class="img-fluid" alt="mobile" />
                            </div>
                        </div>
                        <img src="images/app-link.png" class="img-fluid" alt="mobile" />
                    </div>
                    <a href="#" class="app-link app-mobile" title="mobile" onclick="app.toSection(event, 2)">
                        <div class="icon-wrapper">
                            <img src="~/images/mobile-icon.png" class="img-fluid" alt="mobile" />
                            <img src="~/images/mobile-icon-hover.png" class="icon-wrapper__icon-hover" alt="hover-img">
                        </div>
                        <div class="icon-pointer mobile-pointer"></div>
                        <div class="app-link-text app-mobile-text">
                            <p>PHÁT TRIỂN</p>
                            <p>ỨNG DỤNG DI ĐỘNG</p>
                        </div>
                    </a>
                    <a href="#" class="app-link app-web" title="website" onclick="app.toSection(event, 3)">
                        <div class="icon-wrapper">
                            <img src="~/images/web-icon.png" class="img-fluid" alt="mobile" />
                            <img src="~/images/web-icon-hover.png" class="icon-wrapper__icon-hover" alt="hover-img">
                        </div>
                        <div class="icon-pointer web-pointer"></div>
                        <div class="app-link-text app-web-text">
                            <p>XÂY DỰNG</p>
                            <p>WEBSITE</p>
                        </div>
                    </a>
                    <a href="#" class="app-link app-ai" title="AI" onclick="app.toSection(event, 4)">
                        <div class="icon-wrapper">
                            <img src="~/images/ai-icon.png" class="img-fluid" alt="mobile" />
                            <img src="~/images/ai-icon-hover.png" class="icon-wrapper__icon-hover" alt="hover-img">
                        </div>
                        <div class="icon-pointer ai-pointer"></div>
                        <div class="app-link-text app-ai-text">
                            <p>GIẢI PHÁP</p>
                            <p>TRÍ TUỆ NHÂN TẠO</p>
                        </div>
                    </a>

                    <a href="#" class="app-link app-iot" title="iot" onclick="app.toSection(event, 7)">
                        <div class="icon-wrapper">
                            <img src="~/images/iot-icon.png" class="img-fluid" alt="mobile" />
                            <img src="~/images/iot-icon-hover.png" class="icon-wrapper__icon-hover" alt="hover-img">
                        </div>
                        <div class="icon-pointer iot-pointer"></div>
                        <div class="app-link-text app-iot-text">
                            <p>GIẢI PHÁP IoT</p>
                        </div>
                    </a>
                    <a href="#" class="app-link app-data" title="data" onclick="app.toSection(event, 8)">
                        <div class="icon-wrapper">
                            <img src="~/images/data-icon.png" class="img-fluid" alt="mobile" />
                            <img src="~/images/data-icon-hover.png" class="icon-wrapper__icon-hover" alt="hover-img">
                        </div>
                        <div class="icon-pointer data-pointer"></div>
                        <div class="app-link-text app-data-text">
                            <p>PHÂN TÍCH</p>
                            <p>DỮ LIỆU</p>
                        </div>
                    </a>

                </div>
            </div>
        </div>
        <div class="section-footer">
            <p class="section-footer-indicator">SCROLL</p>
        </div>
    </section>
    <!-- trang mobile -->
    <section class="section bg-2" id="section-2">

        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h2 class="text-uppercase leading-text" id="temp">Phát triển</h2>
                    <h2 class="text-uppercase following-text">Ứng dụng di động</h2>
                    <p class="content text-justify">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing.
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                    </p>
                    <div class="read-more">
                        <a class="read-more-indicator align-items-center" href="#" title="abc">
                            <img src="images/arrow.png" class="img-fluid" alt="arrow" />
                            <span>Tìm hiểu thêm</span>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class='wrapper'>
                        <div class='slick-carousel-vertical'>
                            <div class='carousel__item'>
                                <div class='carousel__item-body'>
                                    <img src="./images/mobile1.jpg" class="img-fluid" alt="mobile develop" />
                                </div>
                            </div>
                            <div class='carousel__item'>
                                <div class='carousel__item-body'>
                                    <img src="./images/mobile2.jpg" class="img-fluid" alt="mobile develop" />
                                </div>
                            </div>
                            <div class='carousel__item'>
                                <div class='carousel__item-body'>
                                    <img src="./images/mobile3.jpg" class="img-fluid" alt="mobile develop" />
                                </div>
                            </div>
                            <div class='carousel__item'>
                                <div class='carousel__item-body'>
                                    <img src="./images/mobile2.jpg" class="img-fluid" alt="mobile develop" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-footer">
            <p class="section-footer-indicator">SCROLL</p>
        </div>
    </section>
    <!-- trang web -->

    <section class="section bg-3" id="section-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-uppercase text-center leading-text">Xây dựng <span class="following-text">website</span></h2>
                    <p class="content text-center">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing.
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                    </p>
                    <div class="read-more text-center">
                        <a class="read-more-indicator align-items-center" href="#" title="abc">
                            <img src="images/arrow.png" class="img-fluid" alt="arrow" />
                            <span>Tìm hiểu thêm</span>
                        </a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="slick-carousel">
                        <div>
                            <div class="image">
                                <img src="./images/mobile1.jpg" class="img-fluid" alt="mobile develop" />
                            </div>
                        </div>
                        <div>
                            <div class="image">
                                <img src="./images/mobile2.jpg" class="img-fluid" alt="mobile develop" />
                            </div>
                        </div>
                        <div>
                            <div class="image">
                                <img src="./images/mobile3.jpg" class="img-fluid" alt="mobile develop" />
                            </div>
                        </div>
                        <div>
                            <div class="image">
                                <img src="./images/mobile1.jpg" class="img-fluid" alt="mobile develop" />
                            </div>
                        </div>
                        <div>
                            <div class="image">
                                <img src="./images/mobile2.jpg" class="img-fluid" alt="mobile develop" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-footer">
            <p class="section-footer-indicator">SCROLL</p>
        </div>
    </section>
    <!-- trang AI -->
    <section class="section bg-4" id="section-4">
        <div class="container">
            <div class="row">
                <div class="slick-carousel__container d-none d-md-block col-md-6">
                    <div class='wrapper'>
                        <div class='slick-carousel-vertical'>
                            <div class='carousel__item'>
                                <div class='carousel__item-body'>
                                    <div class="carousel__item-body--content">
                                        <img src="./images/ai-img-1.png" alt="ai-image">
                                        <div class="carousel__item-body--button" data-toggle="modal" data-target="#ai-first-video">
                                            <a class="play-video"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='carousel__item'>
                                <div class='carousel__item-body'>
                                    <div class="carousel__item-body--content">
                                        <img src="./images/ai-img-2.png" alt="ai-image">
                                        <div class="carousel__item-body--button"  data-toggle="modal" data-target="#ai-second-video">
                                            <a class="play-video"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='carousel__item'>
                                <div class='carousel__item-body'>
                                    <div class="carousel__item-body--content">
                                        <img src="./images/ai-img-3.png" alt="ai-image">
                                        <div class="carousel__item-body--button" data-toggle="modal" data-target="#ai-third-video">
                                            <a class="play-video"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='carousel__item'>
                                <div class='carousel__item-body'>
                                    <div class="carousel__item-body--content">
                                        <img src="./images/ai-img-2.png" alt="ai-image">
                                        <div class="carousel__item-body--button" data-toggle="modal" data-target="#ai-second-video">
                                            <a class="play-video"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <h2 class="text-uppercase leading-text">Giải pháp</h2>
                    <h2 class="text-uppercase following-text">Trí tuệ nhân tạo</h2>
                    <p class="content text-justify">
                        AI application is making technology smarter, friendlier and more flexible.
                        Mycmica focuses on the most advanced Computer Vision, Speech, NLP .. solutions,
                        with the goal of enhancing and changing our life experiences.
                    </p>
                    <div class="read-more">
                        <a class="read-more-indicator align-items-center" href="#" title="abc">
                            <img src="images/arrow.png" class="img-fluid" alt="arrow" />
                            <span>Tìm hiểu thêm</span>
                        </a>
                    </div>
                </div>
                <div class="col-12 d-md-none">
                    <div class='wrapper'>
                        <div class='slick-carousel-vertical'>
                            <div class='carousel__item'>
                                <div class='carousel__item-body'>
                                    <div class="carousel__item-body--content">
                                        <img src="./images/ai-img-1.png" alt="ai-image">
                                        <div class="carousel__item-body--button" data-toggle="modal" data-target="#ai-first-video">
                                            <a class="play-video"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='carousel__item'>
                                <div class='carousel__item-body'>
                                    <div class="carousel__item-body--content">
                                        <img src="./images/ai-img-2.png" alt="ai-image">
                                        <div class="carousel__item-body--button" data-toggle="modal" data-target="#ai-second-video">
                                            <a class="play-video"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='carousel__item'>
                                <div class='carousel__item-body'>
                                    <div class="carousel__item-body--content">
                                        <img src="./images/ai-img-1.png" alt="ai-image">
                                        <div class="carousel__item-body--button" data-toggle="modal" data-target="#ai-first-video">
                                            <a class="play-video"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='carousel__item'>
                                <div class='carousel__item-body'>
                                    <div class="carousel__item-body--content">
                                        <img src="./images/ai-img-3.png" alt="ai-image">
                                        <div class="carousel__item-body--button" data-toggle="modal" data-target="#ai-third-video">
                                            <a class="play-video"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-footer">
            <p class="section-footer-indicator">SCROLL</p>
        </div>
    </section>

    <!-- Videos for Ai -->
        <div class="modal fade" id="ai-first-video">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <iframe
                            src="https://www.youtube.com/embed?v=_3N3FpMEdkE&list=PLd-VPhY1Qx4tfnulogRc90RFQNCZLA_L2&index=3&t=3s&ab_channel=TitleHunter?autoplay=1" allow="autoplay; encrypted-media"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ai-second-video">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <iframe
                            src="https://www.youtube.com/embed?v=3_U04EjAIAQ&list=PLd-VPhY1Qx4tfnulogRc90RFQNCZLA_L2&index=1&ab_channel=TitleHunter"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ai-third-video">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <iframe id="ai-third-video"
                            src="https://www.youtube.com/embed?v=9mjbROw7miw&list=PLd-VPhY1Qx4tfnulogRc90RFQNCZLA_L2&index=2&ab_channel=TitleHunter" 
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

    <!-- trang IoT -->
    <section class="section bg-7" id="section-7">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-uppercase text-center leading-text">IoT <span class="following-text">Solution</span></h2>
                    <p class="content text-center">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing.
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                    </p>
                    <div class="read-more text-center">
                        <a class="read-more-indicator align-items-center" href="#" title="abc">
                            <img src="images/arrow.png" class="img-fluid" alt="arrow" />
                            <span>Tìm hiểu thêm</span>
                        </a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="slick-carousel">
                        <div>
                            <div class="image">
                                <img src="./images/mobile1.jpg" class="img-fluid" alt="mobile develop" />
                            </div>
                        </div>
                        <div>
                            <div class="image">
                                <img src="./images/mobile2.jpg" class="img-fluid" alt="mobile develop" />
                            </div>
                        </div>
                        <div>
                            <div class="image">
                                <img src="./images/mobile3.jpg" class="img-fluid" alt="mobile develop" />
                            </div>
                        </div>
                        <div>
                            <div class="image">
                                <img src="./images/mobile1.jpg" class="img-fluid" alt="mobile develop" />
                            </div>
                        </div>
                        <div>
                            <div class="image">
                                <img src="./images/mobile2.jpg" class="img-fluid" alt="mobile develop" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-footer">
            <p class="section-footer-indicator">SCROLL</p>
        </div>
    </section>

    <!-- trang DA -->
    <section class="section bg-8" id="section-8">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h2 class="text-uppercase leading-text" id="temp">Data</h2>
                    <h2 class="text-uppercase following-text">Analytics</h2>
                    <p class="content text-justify">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing.
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                    </p>
                    <div class="read-more">
                        <a class="read-more-indicator align-items-center" href="#" title="abc">
                            <img src="images/arrow.png" class="img-fluid" alt="arrow" />
                            <span>Tìm hiểu thêm</span>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class='wrapper'>
                        <div class='slick-carousel-vertical'>
                            <div class='carousel__item'>
                                <div class='carousel__item-body'>
                                    <img src="./images/mobile1.jpg" class="img-fluid" alt="mobile develop" />
                                </div>
                            </div>
                            <div class='carousel__item'>
                                <div class='carousel__item-body'>
                                    <img src="./images/mobile2.jpg" class="img-fluid" alt="mobile develop" />
                                </div>
                            </div>
                            <div class='carousel__item'>
                                <div class='carousel__item-body'>
                                    <img src="./images/mobile3.jpg" class="img-fluid" alt="mobile develop" />
                                </div>
                            </div>
                            <div class='carousel__item'>
                                <div class='carousel__item-body'>
                                    <img src="./images/mobile2.jpg" class="img-fluid" alt="mobile develop" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-footer">
            <p class="section-footer-indicator">SCROLL</p>
        </div>
    </section>

    <!-- trang liên hệ -->
    <section class="section bg-5" id="section-5">
        <div class="container">
            <h2 class="text-uppercase text-center leading-text">LIÊN HỆ VỚI CHÚNG TÔI ĐỂ ĐƯỢC</h2>
            <h2 class="text-uppercase text-center following-text">TƯ VẤN MIỄN PHÍ</h2>

            <form id="form" class="form">
                <input class="form-control form-myrmica" name="fullname" id="txtFullname"
                       placeholder="Họ và tên" />
                <input class="form-control form-myrmica" name="phone" id="txtPhone"
                       placeholder="Số điện thoại" />
                <input class="form-control form-myrmica" name="email" id="txtEmail" placeholder="Email" />
                <textarea class="form-control form-myrmica" name="content" rows="5" id="txtRequest"
                          placeholder="Yêu cầu của bạn với đội ngũ Myrmica"></textarea>
                <div class="text-center">
                    <button type="button" class="btn btn-myrmica-primary" onclick="app.submitContact(event)">GỬI THÔNG TIN</button>
                </div>
            </form>
        </div>
        <div class="section-footer">
            <p class="section-footer-indicator">SCROLL</p>
        </div>
    </section>
    <!-- trang về chúng tôi -->
    <section class="section bg-6" id="section-6">
        <div class="section-inner">
            <div>
                @* content *@
                <div class="about-us-content">
                    <div class="container">
                        <div class="row justify-content-center about-us-content-text">
                            <div class="col-12 col-md-6">
                                <h2 class="text-uppercase leading-text">ĐỘI NGŨ <span>MYRMICA</span></h2>
                                <p>Đây là 1 đội ngũ gồm các bạn trẻ nhiệt huyết và đam mê với công nghệ, mong muốn có thể góp phần sức lực của mình vào công cuộc đổi mới của cách mạng công nghiệp 4.0.</p>
                            </div>
                        </div>
                    </div>
                </div>
                @* end of content *@
            
                @* banner *@
                <div class="about-us-banner">
                    <img src="../images/team.jpg" class="img-fluid" alt="Team Banner">
                </div>
                @* end of banner *@

                @* footer *@
                <div class="about-us-footer">
                    <div class="container">
                        <div class="row">
                            <div class="footer-address footer-content col-12 col-md-6 col-lg-4 mb-4 mb-md-0">
                                <h3>CÔNG TY CỔ PHẦN CÔNG NGHỆ MYRMICA</h3>
                                <p><strong>Địa chỉ</strong>:Số 7, Biệt thự 2, khu đô thị Văn Khê, P.La Khê, Q.Hà Đông. Tp Hà Nội</p>
                                <p><strong>Giấy phép kinh doanh</strong>: 0109521755</p>
                            </div>
                            <div class="footer-service footer-content d-none d-md-block col-12 col-md-6 col-lg-3">
                                <h3>DỊCH VỤ</h3>
                                <a href="#" title="Phát triển ứng dụng di động">Phát triển ứng dụng di động</a>
                                <a href="#" title="Xây dựng website">Xây dựng website</a>
                                <a href="#" title="Ứng dụng trí tuệ nhân tạo">Ứng dụng trí tuệ nhân tạo</a>
                                <a href="#" title="Iot solution">IoT Solution</a>
                                <a href="#" title="Data Analytics">Data Analytics</a>
                            </div>
                            <div class="footer-about-us footer-content d-none d-md-block col-12 col-md-6 col-lg-2">
                                <h3>VỀ CHÚNG TÔI</h3>
                                <a href="about-us-link">Về Myrmica</a>
                            </div>
                            <div class="footer-contact footer-content col-12 col-md-6 col-lg-3">
                                <h3>KẾT NỐI VỚI MYRMICA</h3>
                                @* <div class="footer-icon">
                                    <div class="facebook">
                                        <a href="faceook-icon" class="icon-wrapper" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="linkedin">
                                        <a href="faceook-icon" class="icon-wrapper" title="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="skype">
                                        <a href="faceook-icon" class="icon-wrapper" title="skype"><i class="fa fa-skype" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="twitter">
                                        <a href="faceook-icon" class="icon-wrapper" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    </div>
                                </div> *@
                                @* <p><strong>Hotline</strong>: 0123456789</p> *@
                                <p><strong>Email</strong>: work@myrmicatech.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                @* end of footer *@
            </div>

        </div>
    </section>
</div>

<div class="section-navigator d-none">
    <nav class="menu">
        <input type="checkbox"  href="#" class="menu-open" name="menu-open" id="menu-open" />
        <label for="menu-open" class="nav__overlay"></label>


        <label class="menu-open-button" for="menu-open">
            <span class="lines line-1"></span>
            <span class="lines line-2"></span>
            <span class="lines line-3"></span>
        </label>

        <div class="section-navigator-buttons  mobile-se">
            <button class="menu-item menu-item-1 btn btn-section-navigator " data-nav-section="2" onclick="app.toSection(event, 2)"><img src="~/images/mobile-icon-small.png" class="img-fluid" /></button>

        </div>
        <div class="section-navigator-buttons  mobile-se">
            <button class="menu-item menu-item-2 btn btn-section-navigator " data-nav-section="3" onclick="app.toSection(event, 3)"><img src="~/images/web-icon-small.png" class="img-fluid" /></button>
        </div>
        <div class="section-navigator-buttons  mobile-se">
            <button class="menu-item menu-item-3 btn btn-section-navigator" data-nav-section="4" onclick="app.toSection(event, 4)"><img src="~/images/ai-icon-small.png" class="img-fluid" /></button>
        </div>
        <div class="section-navigator-buttons mobile-se">
            <button class="menu-item menu-item-4 btn btn-section-navigator" data-nav-section="7" onclick="app.toSection(event, 7)"><img src="~/images/iot-icon-small.png" class="img-fluid" /></button>
        </div>
        <div class="section-navigator-buttons mobile-se">
            <button class="menu-item menu-item-5 btn btn-section-navigator" data-nav-section="8" onclick="app.toSection(event, 8)"><img src="~/images/da-icon-small.png" class="img-fluid" /></button>
        </div>
    </nav>

    <div class="container">
        <div class="section-navigator-buttons section-navigator__service-buttons">
            <button class="btn btn-section-navigator" data-nav-section="2" onclick="app.toSection(event, 2)"><img src="~/images/mobile-icon-small.png" class="img-fluid" /></button>
            <button class="btn btn-section-navigator" data-nav-section="3" onclick="app.toSection(event, 3)"><img src="~/images/web-icon-small.png" class="img-fluid" /></button>
            <button class="btn btn-section-navigator" data-nav-section="4" onclick="app.toSection(event, 4)"><img src="~/images/ai-icon-small.png" class="img-fluid" /></button>
            <button class="btn btn-section-navigator" data-nav-section="7" onclick="app.toSection(event, 7)"><img src="~/images/iot-icon-small.png" class="img-fluid" /></button>
            <button class="btn btn-section-navigator" data-nav-section="8" onclick="app.toSection(event, 8)"><img src="~/images/da-icon-small.png" class="img-fluid" /></button>
        </div>
        <div class="section-navigator-buttons ">
            <button class="btn btn-section-navigator section-navigator__button-show" onclick="app.showSectionNavigator()"><img src="~/images/icon-hover.png"
                    class="img-fluid" /></button>
        </div>
        <div id="canvas-holder">
            <canvas id="chart-area"></canvas>
            <img src="~/images/mobile-icon-small.png" class="img-fluid pie-icon pie-mobile" />
            <img src="~/images/web-icon-small.png" class="img-fluid pie-icon pie-web" />
            <img src="~/images/ai-icon-small.png" class="img-fluid pie-icon pie-ai" />
        </div>
        @*<div class="pieContainer">
                <div class="pieBackground"></div>
                <div id="pieSlice2" class="hold">
                    <div class="pie" data-nav-section="2">
                        <button onclick="app.toSection(event, 2)">
                            <img src="~/images/mobile-icon-small.png" class="img-fluid" />
                        </button>
                    </div>
                </div>
                <div id="pieSlice3" class="hold">
                    <div class="pie" data-nav-section="3">
                        <button onclick="app.toSection(event, 3)">
                            <img src="~/images/web-icon-small.png" class="img-fluid" />
                        </button>
                    </div>
                </div>
                <div id="pieSlice4" class="hold">
                    <div class="pie" data-nav-section="4">
                        <button onclick="app.toSection(event, 4)">
                            <img src="~/images/ai-icon-small.png" class="img-fluid" />
                        </button>
                    </div>
                </div>
            </div>*@
    </div>
</div>
<div id="overlay" class="show">
    <img src="~/images/overlay.gif" class="img-fluid" alt="loading...." />
</div>
