body {
  font-family: "Exo 2", sans-serif;
}
a:hover {
  text-decoration: none;
  color: #ef2821;
}
.img-fluid-vertical {
  width: auto;
  height: 500px;
}
.content-wrapper {
  position: relative;
}
.section-wrapper {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}
.section-wrapper > .section {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  opacity: 0;
}
.section-wrapper > .section.top {
  opacity: 1;
  z-index: 999;
}
.section {
  height: 100vh;
  width: 100vw;
  position: relative;
  padding-top: 250px;
  transition: cubic-bezier(0.47, 0, 0.745, 0.715) .5s;
}
.section .leading-text {
  color: #222;
  font-weight: bold;
}
.section .leading-text span {
  color: #ef2821;
  font-weight: bold;
}
.section .following-text {
  color: #ef2821;
  font-weight: bold;
}
.section .content,
.section .read-more {
  font-size: 30px;
  line-height: 36px;
}
.section .read-more-indicator {
  display: inline-flex;
  color: #4c4c4c;
  padding-left: 60px;
  position: relative;
  padding-right: 60px;
}
.section .read-more-indicator img {
  height: 12px;
}
.section .read-more-indicator::before {
  content: "";
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 80px;
  border: 3px solid #4c4c4c;
  left: 0;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}
.section .read-more-indicator:hover::before {
  width: calc(100%);
}
.section .slick-carousel-vertical{
  max-height: 75vh;
}
.section .section-footer {
  text-align: center;
  font-size: 25px;
  line-height: 30px;
  position: absolute;
  bottom: 133px;
  width: 100%;
}
.section .section-footer .section-footer-indicator {
  position: relative;
}
.section .section-footer .section-footer-indicator::before {
  width: 5px;
  height: 42px;
  background: #4c4c4c;
  content: "";
  position: absolute;
  bottom: -60px;
  left: calc(50% - 2.5px);
}
.btn-myrmica-primary {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #ef2821;
  color: #fff;
  padding: 6px 32px;
}

.dropdown-myrmica span {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 0 10px;
  border-radius: 5px;
}

@media (min-width: 300px) {
  #navbarSupportedContent{
    position: absolute;
    right: 0;
    width: 90%;
    background: #fff;
    top: 0;
    height: 100vh;
  }
  #navbarSupportedContent .nav-item{
    width: 100%;
    text-align: left;
  }
  .navbar-light .navbar-nav .nav-link{
    display: inline-block;
  }
  .section {
    padding-top: 25vh;
  }
  .section .section-footer {
    bottom: 10px;
    background: url(../images/read-more-mobile.png);
    width: 30px;
    height: 18px;
    left: calc(50% - 15px);
  }
  .section .section-footer .section-footer-indicator{
    display: none;
  }
  .section .content,
  .section .read-more {
    font-size: 12px;
    line-height: 14px;
  }
  .section .read-more-indicator {
    padding: 13px 25px;
  }
  .section .read-more-indicator img{
    height: 4px;
    width: 16px;
    margin-right: 4px;
  }
  .section .read-more-indicator::before {
    width: 100%;
    height: 40px;
    border-width: 1.2px;
  }
  .nav-item .btn-myrmica-primary{
    margin-left: 25px;
  }
}

@media (min-width: 992px) {
  .section {
    padding-top: 100px;
  }
  .section .section-footer {
    bottom: 60px;
    font-size: 18px;
    line-height: 24px;
  }
  .section .content,
  .section .read-more {
    font-size: 18px;
    line-height: 24px;
  }
  .section .read-more-indicator {
    padding: 23px 50px;
  }
  .section .read-more-indicator::before {
    width: 70px;
    height: 70px;
  }
  .nav-item .btn-myrmica-primary{
    margin-left: 25px;
  }
}

@media (min-width: 1500px) {
  .section {
    padding-top: 125px;
  }
  .section .section-footer {
    bottom: 100px;
    font-size: 28px;
    line-height: 30px;
  }
  .section .content,
  .section .read-more {
    font-size: 22px;
    line-height: 30px;
    padding-top: 33px;
  }
  .section .read-more-indicator::before {
  }
  .nav-item .btn-myrmica-primary{
    margin-left: 25px;
  }
}

@media (min-width: 2000px){
  .nav-item .btn-myrmica-primary{
    margin-left: 25px;
  }
}

/* section 1 style */
.section.bg-1 {
  background: url(../images/Backgound-01.png) center center no-repeat;
  background-size: cover;
}
.section.bg-1 .app-nav {
  margin-top: 70px;
  text-align: center;
}
.section.bg-1 .app-nav .app-nav-inner {
  display: inline-block;
  position: relative;
}
.section.bg-1 .app-nav .app-link {
  display: inline-block;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #4c4c4c;
  position: absolute;
}
.section.bg-1 .app-nav .app-link p {
  margin: 0;
}
.section.bg-1 .app-nav .app-link:hover {
  color: #ef2821;
}
.section.bg-1 .app-nav .app-link.app-mobile {
  width: 270px;
  left: -42px;
  bottom: -85px;
}
.section.bg-1 .app-nav .app-link.app-web {
  width: 140px;
  top: 50%;
  left: calc(50% - 70px);
}
.section.bg-1 .app-nav .app-link.app-ai {
  width: 260px;
  right: -35px;
}

@media (min-width: 300px) {
  .section.bg-1 .leading-text {
    font-size: 20px;
    line-height: 24px;
  }
  .section.bg-1 .following-text {
    font-size: 40px;
    line-height: 48px;
  }
  .section.bg-1 .app-nav {
    margin-top: 23px;
  }
  .section.bg-1 .app-nav .app-icons {
    max-width: 500px;
  }
  .section.bg-1 .app-nav .app-link {
    font-size: 12px;
    line-height: 14.4px;
  }
  .section.bg-1 .app-nav .app-link.app-mobile {
    left: 0;
    bottom: -30px;
    text-align: left;
  }
  .section.bg-1 .app-nav .app-link.app-web{
    max-width: 70px;
    left: calc(50% - 35px);
  }
  .section.bg-1 .app-nav .app-link.app-ai {
    right: 0;
    text-align: right;
  }
}

@media (min-width: 992px) {
  .section.bg-1 .leading-text {
    font-size: 25px;
  }
  .section.bg-1 .following-text {
    font-size: 70px;
  }
  .section.bg-1 .app-nav {
    margin-top: 23px;
  }
  .section.bg-1 .app-nav .app-icons {
    max-width: 500px;
  }
  .section.bg-1 .app-nav .app-link {
    font-size: 20px;
    line-height: 24px;
  }
  .section.bg-1 .app-nav .app-link.app-mobile {
    left: -86px;
    bottom: -50px;
  }
  .section.bg-1 .app-nav .app-link.app-ai {
    right: -85px;
  }
}

@media (min-width: 1500px) {
  .section.bg-1 .leading-text {
    font-size: 2rem;
  }
  .section.bg-1 .app-nav {
    margin-top: 46px;
  }
  .section.bg-1 .app-nav .app-icons {
    max-width: 600px;
  }
  .section.bg-1 .app-nav .app-link {
    font-size: 24px;
    line-height: 30px;
  }
  .section.bg-1 .app-nav .app-link.app-mobile {
    left: -78px;
    bottom: -65px;
  }
  .section.bg-1 .app-nav .app-link.app-ai {
    right: -70px;
  }
}

@media (min-width: 2000px) {
  .section.bg-1 .leading-text {
    font-size: 70px;
  }
  .section.bg-1 .following-text {
    font-size: 197px;
  }
}

/* section 2 style */
.section.bg-2 {
  background: url(../images/Backgound-02.png) center center no-repeat;
  background-size: cover;
}
.section.bg-2 .wrapper {
  justify-content: flex-end;
}

@media (min-width: 992px) {
  .section.bg-2 .leading-text,
  .section.bg-2 .following-text {
    font-size: 30px;
  }
}

@media (min-width: 1500px) {
  .section.bg-2 .leading-text,
  .section.bg-2 .following-text {
    font-size: 50px;
  }
}

@media (min-width: 2000px) {
  .section.bg-2 .leading-text,
  .section.bg-2 .following-text {
    font-size: 70px;
  }
}
/* section 3 style */
.section.bg-3 {
  background: url(../images/Backgound-02.png) center center no-repeat;
  background-size: cover;
}
.slick-carousel {
  margin-top: 50px;
}
.slick-carousel .slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-carousel .slick-slide:not(.slick-current), 
.slick-carousel-vertical .slick-slide,
.slick-carousel-vertical .slick-slide.slick-active + .slick-active + .slick-active{
  opacity: 0.7;
  transform: scale(0.7);
} 
.slick-carousel-vertical .slick-slide.slick-active + .slick-active{
  opacity: 1;
  transform: scale(1);
} 
.slick-slide {
  transition: all 0.6s;
}
.slick-carousel .slick-slide .image {
  margin: 0 15px;
}

/* section 4 style */
.section.bg-4 {
  background: url(../images/Backgound-02.png) center center no-repeat;
  background-size: cover;
}
.section.bg-4 .wrapper {
  justify-content: flex-start;
}

@media (min-width: 1500px) {
}

@media (min-width: 2000px) {
  .section.bg-4 .leading-text,
  .section.bg-4 .following-text {
    font-size: 70px;
  }
}

/* section 5 style */
.section.bg-5 {
  background: url(../images/Backgound-03.png) center center no-repeat;
  background-size: cover;
}

.section.bg-5 .form .form-myrmica{
  color: #222;
  background: #9E9E9E4D;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
  margin-bottom: 13px;
  border-color: #fff;
  border-radius: 25px;
  padding: 30px;
}

.section.bg-5 .form .form-myrmica::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: .8; /* Firefox */
}

.section.bg-5 .form .form-myrmica:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
  opacity: .8;
}

.section.bg-5 .form .form-myrmica::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
  opacity: .8;
}

@media (min-width: 300px) {
  .section.bg-5 .leading-text,
  .section.bg-5 .following-text {
    font-size: 19px;
    line-height: 22.8px;
  }
  .section.bg-5 .form{
    max-width: 700px;
    margin: 23px auto 0;
  }
  .section.bg-5 .form .form-myrmica{
    border-radius: 7px;
    padding: 7px 10px;
    font-size: 12px;
    line-height: 14.4px;
  }
  .section.bg-5 .form .btn-myrmica-primary{
    padding: 6px 38px;
    font-size: 10px;
    line-height: 12px;
    border-radius: 8px;
  }
}

@media (min-width: 992px) {
  .section.bg-5 .leading-text,
  .section.bg-5 .following-text {
    font-size: 45px;
  }
  .section.bg-5 .form{
    max-width: 700px;
    margin: 23px auto 0;
  }
  .section.bg-5 .form .form-myrmica{
    border-radius: 15px;
    padding: 12px 20px;
    font-size: 15px;
    line-height: 20px;
  }
  .section.bg-5 .form .btn-myrmica-primary{
    padding: 12px 77px;
    font-size: 15px;
    line-height: 30px;
    margin-top: 25px;
  }
}

@media (min-width: 1500px) {
  .section.bg-5 .leading-text,
  .section.bg-5 .following-text {
    font-size: 65px;
  }
  .section.bg-5 .form{
    max-width: 800px;
    margin: 12px auto 0;
  }
  .section.bg-5 .form .form-myrmica{
    border-radius: 20px;
    padding: 22px 25px;
    font-size: 20px;
    line-height: 25px;
  }
  .section.bg-5 .form .btn-myrmica-primary{
    padding: 12px 77px;
    font-size: 25px;
    line-height: 30px;
    margin-top: 25px;
  }
}

@media (min-width: 2000px) {
  .section.bg-5 .leading-text,
  .section.bg-5 .following-text {
    font-size: 70px;
  }
  .section.bg-5 .form{
    max-width: 900px;
    margin: 34px auto 0;
  }
  .section.bg-5 .form .form-myrmica{
    border-radius: 25px;
    padding: 28px 30px;
    font-size: 25px;
    line-height: 30px;
  }
  .section.bg-5 .form .btn-myrmica-primary{
    padding: 12px 77px;
    font-size: 25px;
    line-height: 30px;
    margin-top: 25px;
  }
}

/* bootstrap custom*/
.navbar-light .navbar-nav .nav-link {
  color: rgb(0, 0, 0);
  position: relative;
  margin: 0.5rem 25px;
  padding-left: 0;
  padding-right: 0;
  font-weight: 600;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #ef2821;
}
.navbar-light .navbar-nav .nav-link::before {
  content: "";
  background: #ef2821;
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.3s;
}
.navbar-light .navbar-nav .active > .nav-link::before,
.navbar-light .navbar-nav .nav-link:hover::before {
  width: 100%;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #ef2821;
}

@media (min-width: 1500px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

@media (min-width: 2000px) {
  .container {
    max-width: 1920px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
}
