﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <!--
       SSSSSSSSSSSSSSS         CCCCCCCCCCCCCRRRRRRRRRRRRRRRRR        OOOOOOOOO     LLLLLLLLLLL             LLLLLLLLLLL
     SS:::::::::::::::S     CCC::::::::::::CR::::::::::::::::R     OO:::::::::OO   L:::::::::L             L:::::::::L
    S:::::SSSSSS::::::S   CC:::::::::::::::CR::::::RRRRRR:::::R  OO:::::::::::::OO L:::::::::L             L:::::::::L
    S:::::S     SSSSSSS  C:::::CCCCCCCC::::CRR:::::R     R:::::RO:::::::OOO:::::::OLL:::::::LL             LL:::::::LL
    S:::::S             C:::::C       CCCCCC  R::::R     R:::::RO::::::O   O::::::O  L:::::L                 L:::::L
    S:::::S            C:::::C                R::::R     R:::::RO:::::O     O:::::O  L:::::L                 L:::::L
     S::::SSSS         C:::::C                R::::RRRRRR:::::R O:::::O     O:::::O  L:::::L                 L:::::L
      SS::::::SSSSS    C:::::C                R:::::::::::::RR  O:::::O     O:::::O  L:::::L                 L:::::L
        SSS::::::::SS  C:::::C                R::::RRRRRR:::::R O:::::O     O:::::O  L:::::L                 L:::::L
           SSSSSS::::S C:::::C                R::::R     R:::::RO:::::O     O:::::O  L:::::L                 L:::::L
                S:::::SC:::::C                R::::R     R:::::RO:::::O     O:::::O  L:::::L                 L:::::L
                S:::::S C:::::C       CCCCCC  R::::R     R:::::RO::::::O   O::::::O  L:::::L         LLLLLL  L:::::L         LLLLLL
    SSSSSSS     S:::::S  C:::::CCCCCCCC::::CRR:::::R     R:::::RO:::::::OOO:::::::OLL:::::::LLLLLLLLL:::::LLL:::::::LLLLLLLLL:::::L
    S::::::SSSSSS:::::S   CC:::::::::::::::CR::::::R     R:::::R OO:::::::::::::OO L::::::::::::::::::::::LL::::::::::::::::::::::L
    S:::::::::::::::SS      CCC::::::::::::CR::::::R     R:::::R   OO:::::::::OO   L::::::::::::::::::::::LL::::::::::::::::::::::L
     SSSSSSSSSSSSSSS           CCCCCCCCCCCCCRRRRRRRR     RRRRRRR     OOOOOOOOO     LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL

    MMMMMMMM               MMMMMMMM               AAA                  GGGGGGGGGGGGGIIIIIIIIII      CCCCCCCCCCCCC
    M:::::::M             M:::::::M              A:::A              GGG::::::::::::GI::::::::I   CCC::::::::::::C
    M::::::::M           M::::::::M             A:::::A           GG:::::::::::::::GI::::::::I CC:::::::::::::::C
    M:::::::::M         M:::::::::M            A:::::::A         G:::::GGGGGGGG::::GII::::::IIC:::::CCCCCCCC::::C
    M::::::::::M       M::::::::::M           A:::::::::A       G:::::G       GGGGGG  I::::I C:::::C       CCCCCC
    M:::::::::::M     M:::::::::::M          A:::::A:::::A     G:::::G                I::::IC:::::C
    M:::::::M::::M   M::::M:::::::M         A:::::A A:::::A    G:::::G                I::::IC:::::C
    M::::::M M::::M M::::M M::::::M        A:::::A   A:::::A   G:::::G    GGGGGGGGGG  I::::IC:::::C
    M::::::M  M::::M::::M  M::::::M       A:::::A     A:::::A  G:::::G    G::::::::G  I::::IC:::::C
    M::::::M   M:::::::M   M::::::M      A:::::AAAAAAAAA:::::A G:::::G    GGGGG::::G  I::::IC:::::C
    M::::::M    M:::::M    M::::::M     A:::::::::::::::::::::AG:::::G        G::::G  I::::IC:::::C
    M::::::M     MMMMM     M::::::M    A:::::AAAAAAAAAAAAA:::::AG:::::G       G::::G  I::::I C:::::C       CCCCCC
    M::::::M               M::::::M   A:::::A             A:::::AG:::::GGGGGGGG::::GII::::::IIC:::::CCCCCCCC::::C
    M::::::M               M::::::M  A:::::A               A:::::AGG:::::::::::::::GI::::::::I CC:::::::::::::::C
    M::::::M               M::::::M A:::::A                 A:::::A GGG::::::GGG:::GI::::::::I   CCC::::::::::::C
    MMMMMMMM               MMMMMMMMAAAAAAA                   AAAAAAA   GGGGGG   GGGGIIIIIIIIII      CCCCCCCCCCCCC
    -->

    <title>Myrmica Techonology</title>
    <link rel="shortcut icon" href="./images/logo.png"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="keywords"
          content="Myrmica, Myrmica Tech, website, mobile app, ai, artifical intelligence" />
    <meta name="description"
          content="Myrmica is a tech team consisting of enthusiastic young programmers. We hope to contribute our skills and knowledge to the development of the Fourth Industrial Convolution." />
    <meta name="author" content="Myrmica Technology" />
    <meta name="designer" content="Myrmica Technology" />
    @*<meta property="fb:admins" content="595418934" />*@
    <meta property="og:type" content="website" />
    <meta property="og:url" content="myrmicatech.com" />
    <meta property="og:image" content="./images/logo.png" />
    <meta property="og:title" content="Myrmica Technology" />
    <meta property="og:description"
          content="Myrmica is a tech team consisting of enthusiastic young programmers. We hope to contribute our skills and knowledge to the development of the Fourth Industrial Convolution." />

    <link rel="shortcut icon" href="./images/logo.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="./images/logo.png" />
    
    <link rel="stylesheet" href="icons/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <environment include="Development">
        <link rel="stylesheet" href="css/app.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="css/app.min.css" />
    </environment>
</head>
<body>
    <h1 class="d-none">MYRMICA TECHNOLOGY</h1>
    <div id="content-wrapper">
        <!--nav bar-->
        <nav class="fixed-top navbar navbar-expand-lg navbar-light">
            <div class="container">
                <div class="text-left">
                    <a href="#" onclick="app.toSection(event, 1)" title="Myrmica">
                        <img src="images/logo.png" class="img-fluid img-logo" alt="Myrmica Tech" />
                    </a>
                </div>
                <div class="text-right">
                    <button class="navbar-toggler" type="button" onclick="app.toggleMenuMobile();">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <!-- close button -->
                        <div class="navbar-close-btn" type="button" onclick="app.closeMobileNavigator();">
                            <div class="navbar-close-btn__line navbar-close-btn__line1"></div>
                            <div class="navbar-close-btn__line navbar-close-btn__line2"></div>
                        </div>
                        <!-- close button -->

                        <ul class="navbar-nav mr-auto align-items-center">
                            <li class="nav-item d-md-none">
                                <a class="nav-link" id="nav-link__logo" href="#" onclick="app.toSection(event, 700)" title="Myrmica">
                                    <img src="images/logo.png" class="img-fluid img-logo" alt="Myrmica Tech" />
                                </a>
                                <hr />
                            </li>
                            <li class="nav-item active" data-nav-section="1">
                                <a class="nav-link text-uppercase" id="home-link" href="#" onclick="app.toSection(event, 1)">
                                    Trang chủ
                                    <span class="sr-only">(*)</span>
                                </a>
                            </li>
                            <li class="nav-item" data-nav-section="234">
                                <a class="nav-link text-uppercase" id="service-link" href="#" onclick="app.toSection(event, 2)">
                                    Dịch
                                    vụ
                                </a>
                            </li>
                            <li class="nav-item" data-nav-section="6">
                                <a class="nav-link text-uppercase" id="about-us-link" href="#" onclick="app.toSection(event, 6)">
                                    Về chúng
                                    tôi
                                </a>
                            </li>
                            <li class="nav-item" data-nav-section="5">
                                <button class="btn btn-myrmica-primary text-uppercase" id="contact-link"
                                        onclick="app.toSection(event, 5)">
                                    liên hệ
                                </button>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle dropdown-myrmica" href="#" id="navbarDropdown"
                                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span>Vi</span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#" onclick="app.setTextByLanguage(event, 'vi')">
                                        Tiếng
                                        Việt
                                    </a>
                                    <a class="dropdown-item" href="#"
                                       onclick="app.setTextByLanguage(event, 'en')">English</a>
                                    <a class="dropdown-item" href="#"
                                       onclick="app.setTextByLanguage(event, 'jv')">日本語</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        @RenderBody()
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <environment include="Development">
        <!-- slick script-->
        <script src="js/slick.js"></script>
        <!-- app script -->
        <script src="js/app.js"></script>
    </environment>
    <environment exclude="Development">
        <!-- app script -->
        <script src="js/app.min.js"></script>
    </environment>
</body>
</html>
