:root {
    font-size: 10px;
}

body {
    font-family: "Exo 2", sans-serif;
    overscroll-behavior-y: contain;
}

#overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #010101;
    text-align: center
}

#overlay>img {
    position: fixed;
    top: 20%;
    left: 0;
}

a:hover {
    text-decoration: none;
    color: #ef2821
}

.img-fluid-vertical {
    width: auto;
    height: 500px
}

.content-wrapper {
    position: relative
}

.img-logo {
    max-height: calc(3vw + 3vh);
}

.section-wrapper {
    display: grid;
    grid-template: 1fr/1fr;
    place-items: center
}

.section-wrapper>.section {
    grid-column: 1/1;
    grid-row: 1/1;
    opacity: 0
}

.section-wrapper>.section.top {
    opacity: 1;
    z-index: 999
}

.section {
    height: 100vh;
    width: 100vw;
    position: relative;
    padding-top: 250px;
    transition: cubic-bezier(.47, 0, .745, .715) .5s
}

.section .leading-text {
    color: #222;
    font-weight: bold;
    font-size: calc(2rem + 3.33333333vw);
    line-height: calc(3rem + 3vh);
}

.section .leading-text span {
    color: #ef2821;
    font-weight: bold
}

.section .following-text {
    color: #ef2821;
    font-weight: bold;
    font-size: calc(1.5rem + 2.33333333vw);
    line-height: calc(3rem + 3vh);
}

.section .content,
.section .read-more {
    font-size: 30px;
    line-height: 36px
}

.section .read-more-indicator {
    display: inline-flex;
    color: #4c4c4c;
    padding-left: 60px;
    position: relative;
    padding-right: 60px
}

.section .read-more-indicator img {
    height: 12px
}

.section .read-more-indicator::before {
    content: "";
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 80px;
    border: 3px solid #4c4c4c;
    left: 0;
    transition: cubic-bezier(.165, .84, .44, 1) .3s
}

.section .read-more-indicator:hover::before {
    width: calc(100%)
}

.section .slick-carousel-vertical {
    max-height: 75vh
}

.section .section-footer {
    text-align: center;
    font-size: calc(1rem + 1.2vw);
    font-size: calc(1rem + 1.2vw);
    position: absolute;
    bottom: calc(3rem + 6vh);
    width: 100%
}

.section .section-footer .section-footer-indicator {
    position: relative;
    font-size: calc(2rem + 0.025vw);
}

.section .section-footer .section-footer-indicator::before {
    width: 5px;
    height: calc(1rem + 1.6vw);
    background: #4c4c4c;
    content: "";
    position: absolute;
    bottom: -60px;
    left: calc(50% - 2.5px)
}

.btn-myrmica-primary {
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25));
    background: #ef2821;
    color: #fff;
    padding: 6px 32px
}

.dropdown-myrmica span {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 0 10px;
    border-radius: 5px
}

/* For toggle button */

.navbar .navbar-close-btn {
    /* display: none; */
    position: absolute;
    border: none;
    height: 3rem;
    width: 3rem;
    background-color: white;
    left: -9%;
    top: 5%;
}

.remove-btn {
    display: none;
}

.add-btn {
    display: inline-block;
}

.navbar-close-btn__line {
    width: 102%;
    height: 0.3rem;
    background-color: #EF2821;
    border-radius: 0.3rem;
    transition: all 0.4s ease-in-out;
}

.navbar-close-btn__line1 {
    transform: rotate(405deg) translate(0.9rem, 0.9rem);
}

.navbar-close-btn__line2 {
    transform: rotate(-405deg) translate(-0.9rem, 0.68rem);
}

/* For toggle button */

.dropdown-menu {
    font-size: calc(1rem + 0.25vw);
}

.dropdown-menu .dropdown-item{
    padding: 0.5rem 2rem;
}

@media(max-width:768px) {
    #navbarSupportedContent {
        position: absolute;
        right: 0;
        width: 85%;
        background: #fff;
        top: 0;
        height: 100vh
    }

        #navbarSupportedContent .nav-item {
            width: 100%;
            text-align: left
        }

    #nav-link__logo {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-light .navbar-nav .nav-link {
        display: inline-block;
        /* margin: 2px 25px !important; */
       
    }
    .section {
        padding-top: 15vh
    }
    .section .section-footer {
        bottom: 10px;
        background: url(../images/read-more-mobile.png);
        width: 30px;
        height: 18px;
        left: calc(50% - 15px)
    }
    .section .section-footer .section-footer-indicator {
        display: none
    }
    .section .content,
    .section .read-more {
        font-size: 12px;
        line-height: 14px
    }
    .section .read-more-indicator {
        padding: 13px 25px
    }
    .section .read-more-indicator img {
        height: 4px;
        width: 16px;
        margin-right: 4px
    }
    .section .read-more-indicator::before {
        width: 100%;
        height: 40px;
        border-width: 1.2px
    }
    .nav-item .btn-myrmica-primary {
        margin-left: 25px
    }

    /* For toggle button */
    .nav-item .nav-link__logo {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* For toggle button */
}

@media(min-width:992px) {
    .section {
        padding-top: 100px
    }

        .section .wrapper {
            max-width: 50%;
            margin: 0 auto
        }

            .section .wrapper .slick-carousel-vertical {
                overflow: hidden
            }

        /* ---------- Nav Bar ---------- */
        .text-right {
            height: 100%;
            width: 60%;
        }    

        .navbar-collapse {
            height: 100%;
            width: 100%;
        }

        .navbar-collapse .navbar-nav {
            justify-content: flex-end;
            width: 100%;
            font-size: calc(0.8rem + 0.5vw);
        }

        .navbar-collapse .navbar-nav .nav-item {
            padding: 0 0.5rem;
        }

        .navbar-collapse .navbar-nav .nav-item .nav-link {
            margin: .5rem 20px;
        }

        

        /* ---------- Nav Bar ---------- */


        .section .content, .section .read-more {
            font-size: 18px;
            line-height: 24px
        }

        .section .read-more-indicator {
            padding: 23px 50px
        }

            .section .read-more-indicator::before {
                width: 70px;
                height: 70px
            }

    .nav-item .btn-myrmica-primary {
        margin-left: 25px;
        margin-bottom: 2px;
        padding: 7px 32px;
    }
    .section .leading-text {
        font-size: 45px;
        line-height: 60px;
    }
}

@media(min-width:1500px) {
    .section {
        padding-top: 125px
    }
    .section .content,
    .section .read-more {
        font-size: 22px;
        line-height: 30px;
        padding-top: 33px
    }
    .nav-item .btn-myrmica-primary {
        margin-left: 25px
    }
    .section .leading-text {
        font-size: 60px;
        line-height: 72px;
    }
}

@media(min-width:2000px) {
    .nav-item .btn-myrmica-primary {
        margin-left: 25px
    }
    .section .leading-text {
        font-size: 70px;
        line-height: 84px;
    }
}


/* section 1 */

.section.bg-1 {
    /* background: url(../images/Backgound-01.png) center center no-repeat; */
    background: center center no-repeat;
    background-size: cover;
    padding-top: 15vh;
}


/* -------- RESPONSIVE BACKGROUND IMAGE  -------- */

@media (min-width: 250px) {
    .section.bg-1 {
        background-image: url(../images/Backgound-01_540.png);
    }
}

@media (min-width: 768px) {
    .section.bg-1 {
        background-image: url(../images/Backgound-01_720.png);
    }
}

@media (min-width: 1500px) {
    .section.bg-1 {
        background-image: url(../images/Backgound-01_1440.png);
    }
}

@media (min-width: 2000px) {
    .section.bg-1 {
        background-image: url(../images/Backgound-01_1920.png);
    }
}


/* -------- RESPONSIVE BACKGROUND IMAGE  -------- */

.section.bg-1 .app-nav {
    margin-top: calc(2rem + 2vw);
    text-align: center;
    margin-top: calc(1.5rem + 1.06666667vw);
}


/* ======================= NEW CONTENTS ======================= */

.section.bg-1 .app-nav .app-icons {
    width: calc(20vw + 20vh);
}

.section.bg-1 .app-nav .app-icons .app-icons-center-block {
    left: 33%;
    top: -3%;
    width: calc(6vw + 8vh);
    position: absolute;
}

.section.bg-1 .app-nav .app-icons .app-icons-center-secant {
    left: 28%;
    top: -2%;
    width: calc(8vw + 10vh);
    position: absolute
}

.section.bg-1 .app-nav .app-icons .app-icons-center-secant__circles {
    width: 100%;
    height: 100%;
}

.section.bg-1 .app-nav .app-icons .app-icons-center-secant__circles>div {
    width: calc(0.3rem + 0.2vw);
    height: calc(0.3rem + 0.2vw);
    background-color: #fff;
    border-radius: 50%;
    border: solid 0.1px #f00;
    position: absolute;
}

.section.bg-1 .app-nav .app-icons .app-icons-center-secant__circles .app-icons-center-secant__circles--first {
    left: -1.25%;
    top: 0%;
}

.section.bg-1 .app-nav .app-icons .app-icons-center-secant__circles .app-icons-center-secant__circles--second {
    left: 7%;
    top: 52%;
}

.section.bg-1 .app-nav .app-icons .app-icons-center-secant__circles .app-icons-center-secant__circles--third {
    left: 28%;
    bottom: 5%;
}

.section.bg-1 .app-nav .app-icons .app-icons-center-secant__circles .app-icons-center-secant__circles--fourth {
    left: 63%;
    bottom: 2%;
}

.section.bg-1 .app-nav .app-icons .app-icons-center-secant__circles .app-icons-center-secant__circles--fifth {
    right: 8%;
    top: 54%;
}

.section.bg-1 .app-nav .app-icons .app-icons-center-secant__circles .app-icons-center-secant__circles--sixth {
    right: -1.3%;
    top: 0%;
}

.section.bg-1 .app-nav .app-link {
    font-size: calc(1rem + 0.66667vw);
    line-height: calc(1.2rem + 0.866667vw);
    display: inline-block;
    height: calc(4vw + 3.5vh);
    width: calc(4vw + 3.5vh);
    text-align: center;
    color: #8C8C8C;
    position: absolute;
    /* background-color: antiquewhite; */
}

.section.bg-1 .app-nav .app-mobile {
    top: -1%;
    left: 4%;
}

.section.bg-1 .app-nav .app-web {
    bottom: 19%;
    left: 16%;
}

.section.bg-1 .app-nav .app-ai {
    bottom: 3%;
    left: 40.5%;
}

.section.bg-1 .app-nav .app-iot {
    bottom: 20%;
    right: 16%;
}

.section.bg-1 .app-nav .app-data {
    top: -1%;
    right: 2%;
}

.section.bg-1 .app-nav .app-link .icon-wrapper {
    height: 100%;
    width: 100%;
}

img.icon-wrapper__icon-hover {
    visibility: hidden;
    transition: visibility 0.2s ease-in;
}

.section.bg-1 .app-nav .app-link .icon-wrapper img {
    position: absolute;
    width: 55%;
    top: 25%;
    right: 21%;
}


/* ------------------- POINTERS ------------------- */

.section.bg-1 .app-nav .app-link .icon-pointer {
    position: absolute;
    border: 10px solid #474A54;
    width: 18px;
    height: calc(3rem + 3.33333333vw);
}

.section.bg-1 .app-nav .app-link .mobile-pointer {
    clip-path: polygon(0 0, 100% 0, 100% 2%, 6% 2%, 6% 100%, 0 100%);
    left: -60%;
    top: 27%;
}

.section.bg-1 .app-nav .app-link .web-pointer {
    clip-path: polygon(95% 0, 100% 0, 8% 15%, 8% 100%, 0 100%, 0% 15%);
    left: -33%;
    top: 108%;
}

.section.bg-1 .app-nav .app-link .ai-pointer {
    clip-path: polygon(47% 0, 53% 0%, 53% 100%, 47% 100%);
    height: 30px;
    left: 40%;
    top: 120%;
}

.section.bg-1 .app-nav .app-link .iot-pointer {
    clip-path: polygon(10% 0%, 100% 15%, 100% 100%, 95% 100%, 95% 100%, 95% 16%, 0 0);
    right: -36%;
    top: 110%;
}

.section.bg-1 .app-nav .app-link .data-pointer {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 94% 100%, 94% 2%, 0 2%);
    right: -50%;
    top: 20%;
}


/* ------------------- POINTERS ------------------- */


/* ------------------- TEXT ------------------- */

.section.bg-1 .app-nav .app-link .app-link-text {
    display: flex;
    flex-direction: column;
    width: calc(11vw + 5vw);
    font-size: calc(0.8rem + 0.666667vw);
    padding: 0;
    margin: 0;
    position: absolute;
}

.section.bg-1 .app-nav .app-link .app-mobile-text {
    right: 176%;
    top: 66%;
    align-items: flex-end;
}

.section.bg-1 .app-nav .app-link .app-web-text {
    right: 140%;
    top: 147%;
    align-items: flex-end;
}

.section.bg-1 .app-nav .app-link .app-ai-text {
    left: -92%;
    top: 152%;
}

.section.bg-1 .app-nav .app-link .app-iot-text {
    left: 142%;
    top: 177%;
    align-items: flex-start;
}

.section.bg-1 .app-nav .app-link .app-data-text {
    left: 162%;
    top: 58%;
    align-items: flex-start;
}


/* ------------------- TEXT ------------------- */


/* ======================= NEW CONTENTS ======================= */

.section.bg-1 .app-nav .app-nav-inner {
    display: inline-block;
    position: relative
}

.section.bg-1 .app-nav .app-link p {
    margin: 0
}


/* .section.bg-1 .app-nav .app-link:hover {
    color: #ef2821
}

.section.bg-1 .app-nav .app-link .icon-wrapper {
    text-align: center;
    background-image: linear-gradient(45deg, transparent, transparent);
    transition: all .3s;
} */


/* .section.bg-1 .app-nav .app-link:hover .icon-wrapper img {
    border-radius: 10%;
    background-image: linear-gradient(to left bottom, #000000, #3e131d, #78152a, #b5172c, #ef2821);
} */

.section.bg-1 .app-nav .app-link:hover .icon-wrapper__icon-hover {
    visibility: visible;
}

@media(max-width:1500px) {
    /* .section.bg-1 .app-nav .app-link .app-mobile-text {
        left: -337%;
        top: 60%;
    }
    
    .section.bg-1 .app-nav .app-link .app-web-text {
        left: -308%;
        top: 144%;
    } */
    .section.bg-1 .app-nav .app-link .app-ai-text {
        left: -72%;
        top: 170%;
    }
    /* .section.bg-1 .app-nav .app-link .app-iot-text {
        left: 142%;
        top: 177%;
    }

    .section.bg-1 .app-nav .app-link .app-data-text {
        left: 158%;
        top: 58%;
    } */
}

@media(max-width:992px) {
    /* ------------------ TEXT ------------------ */
    /* .section.bg-1 .app-nav .app-link .app-mobile-text {
        left: -297%;
        top: 65%;
    }
    
    .section.bg-1 .app-nav .app-link .app-web-text {
        left: -273%;
        top: 146%;;
    } */
    .section.bg-1 .app-nav .app-link .app-ai-text {
        left: -55%;
        top: 177%;
    }
    /* .section.bg-1 .app-nav .app-link .app-iot-text {
        left: 140%;
        top: 178%;
    }

    .section.bg-1 .app-nav .app-link .app-data-text {
        left: 166%;
        top: 59%;
    } */
    /* ------------------ TEXT ------------------ */
}

@media(max-width:768px) {
    /* ------------------ TEXT ------------------ */
    /* .section.bg-1 .app-nav .app-link .app-mobile-text {
        left: -283%;
        top: 65%;
    }
    
    .section.bg-1 .app-nav .app-link .app-web-text {
        left: -248%;
        top: 147%;
    } */
    .section.bg-1 .app-nav .app-link .app-ai-text {
        left: -39%;
        top: 190%;
    }
    /* ------------------ TEXT ------------------ */
    /* ------------------- POINTERS ------------------- */
    .section.bg-1 .app-nav .app-link .mobile-pointer {
        left: -70%;
        top: 27%;
    }
    /* .section.bg-1 .app-nav .app-link .web-pointer {
        left: -33%;
        top: 108%;
    } */
    .section.bg-1 .app-nav .app-link .ai-pointer {
        height: 3rem;
        left: 36%;
        top: 120%;
    }
    /* .section.bg-1 .app-nav .app-link .iot-pointer {
        right: -36%;
        top: 110%;
    } */
    .section.bg-1 .app-nav .app-link .data-pointer {
        right: -60%;
        top: 20%;
    }
    /* ------------------- POINTERS ------------------- */
}

@media(max-width:600px) {
    .section.bg-1 .app-nav .app-link .app-link-text {
        width: calc(11vw + 5vw);
        font-size: calc(0.6rem + 0.666667vw);
    }
    /* ---------- CENTER BLOCK ----------  */
    .section.bg-1 .app-nav .app-icons .app-icons-center-block {
        left: 32%;
        top: -3%;
    }
    /* ---------- CENTER BLOCK ----------  */
    /* ---------- CENTER SECANT ----------  */
    .section.bg-1 .app-nav .app-icons .app-icons-center-secant {
        left: 27%;
        top: -2%;
    }
    /* ---------- CENTER SECANT ----------  */
    /* ---------- ICONS POINTERS ---------- */
    .section.bg-1 .app-nav .app-link .icon-pointer {
        width: 0;
        height: 0;
        border: none;
    }
    /* ---------- ICONS POINTERS ---------- */
    /* ---------- APP TEXTS  ---------- */
    .section.bg-1 .app-nav .app-link .app-mobile-text {
        right: 124%;
        top: 41%;
    }
    .section.bg-1 .app-nav .app-link .app-web-text {
        right: 96%;
        top: 88%;
    }
    .section.bg-1 .app-nav .app-link .app-ai-text {
        left: -30%;
        top: 122%;
    }
    .section.bg-1 .app-nav .app-link .app-iot-text {
        left: 100%;
        top: 94%;
    }
    .section.bg-1 .app-nav .app-link .app-data-text {
        left: 115%;
        top: 29%;
    }
    /* ---------- APP TEXTS  ---------- */
}

@media(max-width:425px) {
    /* ---------- APP TEXTS  ---------- */
    /* .section.bg-1 .app-nav .app-link .app-mobile-text {
        left: -170%;
        top: 57%;
    }
    
    .section.bg-1 .app-nav .app-link .app-web-text {
        left: -154%;
        top: 98%
    } */
    .section.bg-1 .app-nav .app-link .app-ai-text {
        left: -18%;
        top: 130%;
    }
    /* .section.bg-1 .app-nav .app-link .app-iot-text {
        left: 112%;
        top: 90%;
    }

    .section.bg-1 .app-nav .app-link .app-data-text {
        left: 116%;
        top: 48%;
    } */
    /* ---------- APP TEXTS  ---------- */
}


/* ---------- RESPONSIVE FOR LOADING ---------- */

@media(min-width:768px) {
    #overlay>img {
        top: 20%;
        left: 20%;
    }
}

@media(min-width:1024px) {
    #overlay>img {
        top: 20%;
        left: 28%;
    }
}

@media(min-width:1500px) {
    #overlay>img {
        top: 28%;
        left: 37%;
    }
}


/* ---------- RESPONSIVE FOR LOADING ---------- */

@media(min-width:2000px) {
    .section.bg-1 .leading-text {
        font-size: 70px
    }
    .section.bg-1 .following-text {
        font-size: 65px;
    }
    .section.bg-1 .app-nav .app-link .icon-wrapper {
        padding-top: 25px;
        height: 122px;
        width: 126px;
        margin: 0 auto 4px;
        border-radius: 50%;
    }
    .section.bg-1 .app-nav .app-link .icon-wrapper img {
        max-width: 80px;
    }
}


/*section 2*/

.section.bg-2 {
    background: url(../images/Backgound-02.png) center center no-repeat;
    background-size: cover
}


/* -------- RESPONSIVE BACKGROUND IMAGE  -------- */

@media (min-width: 250px) {
    .section.bg-2 {
        background-image: url(../images/Backgound-02_540.png);
    }
}

@media (min-width: 768px) {
    .section.bg-2 {
        background-image: url(../images/Backgound-02_720.png);
    }
}

@media (min-width: 1500px) {
    .section.bg-2 {
        background-image: url(../images/Backgound-02_1440.png);
    }
}

@media (min-width: 2000px) {
    .section.bg-2 {
        background-image: url(../images/Backgound-02_1920.png);
    }
}


/* -------- RESPONSIVE BACKGROUND IMAGE  -------- */

.section.bg-2 .wrapper {
    justify-content: flex-end
}

@media(min-width:992px) {
    .section.bg-2 .leading-text,
    .section.bg-2 .following-text {
        font-size: 48px;
        line-height: 60px;
    }
}

@media(min-width:1500px) {
    .section.bg-2 .leading-text,
    .section.bg-2 .following-text {
        font-size: 50px
    }
}

@media(min-width:2000px) {
    .section.bg-2 .leading-text,
    .section.bg-2 .following-text {
        font-size: 70px
    }
}


/*section 3*/

.section.bg-3 {
    background: url(../images/Backgound-02.png) center center no-repeat;
    background-size: cover
}


/* -------- RESPONSIVE BACKGROUND IMAGE  -------- */

@media (min-width: 250px) {
    .section.bg-3 {
        background-image: url(../images/Backgound-02_540.png);
    }
}

@media (min-width: 768px) {
    .section.bg-3 {
        background-image: url(../images/Backgound-02_720.png);
    }
}

@media (min-width: 1500px) {
    .section.bg-3 {
        background-image: url(../images/Backgound-02_1440.png);
    }
}

@media (min-width: 2000px) {
    .section.bg-3 {
        background-image: url(../images/Backgound-02_1920.png);
    }
}


/* -------- RESPONSIVE BACKGROUND IMAGE  -------- */

.slick-carousel {
    margin-top: 50px
}

.slick-carousel .slick-track {
    display: flex;
    align-items: center;
    justify-content: center
}

.slick-carousel .slick-slide:not(.slick-current),
.slick-carousel-vertical .slick-slide,
.slick-carousel-vertical .slick-slide.slick-active+.slick-active+.slick-active {
    opacity: .7;
    transform: scale(.7)
}

.slick-carousel-vertical .slick-slide.slick-active+.slick-active {
    opacity: 1;
    transform: scale(1)
}

.slick-slide {
    transition: all .6s
}

.slick-carousel .slick-slide .image {
    margin: 0 15px
}


/* New for carousel */

@media (min-width: 768px) {
    .slick-carousel-vertical {
        position: relative;
        padding-bottom: calc(3rem + 1vw);
    }
    .slick-carousel-button,
    .slick-carousel-button {
        position: absolute;
        height: 3rem;
        width: 3rem;
        background-color: #9E9E9E;
        font-size: 17px;
        font-weight: bold;
        bottom: 0;
        color: white;
        border-radius: 50%;
        border: none;
    }
    .slick-carousel-vertical__next-button {
        left: 52%;
    }
    .slick-carousel-vertical__previous-button {
        right: 52%;
    }
    .slick-carousel-button:hover,
    .slick-carousel-button:hover {
        /* background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%); */
        background-color: #EF2821;
    }
    .slick-carousel-button:visited,
    .slick-carousel-button:visited {
        outline: none;
    }
    /* horizontal button */
    .slick-carousel__next-button,
    .slick-carousel__previous-button {
        top: 110%;
    }
    .slick-carousel__previous-button {
        left: 47%;
    }
    .slick-carousel__next-button {
        right: 47%;
    }
}


/* New for carousel */


/*section 4*/

.section.bg-4 {
    background: url(../images/Backgound-02.png) center center no-repeat;
    background-size: cover
}


/* Carosel */

.carousel__item-body--content {
    height: 100%;
    width: 100%;
    position: relative;
}

.carousel__item-body--content img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel__item-body--button {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 4rem;
    width: 4rem;
    transform: translate(-2rem, -2rem);
    background-color: white;
    opacity: 0.4;
    border: solid rgba(37, 68, 93, 0.8) 0.2rem;
    border-radius: 50%;
    transition: opacity 0.3s ease-in-out;
}

.carousel__item-body--button a.play-video {
    position: absolute;
    height: 1.2rem;
    width: 1.2rem;
    background-color: red;
    top: 50%;
    left: 50%;
    transform: translate(-0.5rem, -0.5rem);
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
}

.carousel__item-body--button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.modal-content {
    background-color: transparent;
    border: none;
}

iframe {
    border: none;
    min-width: 30vw;
    min-height: 30vh;
}


/* Carosel */


/* -------- RESPONSIVE BACKGROUND IMAGE  -------- */

@media (min-width: 250px) {
    .section.bg-4 {
        background-image: url(../images/Backgound-02_540.png);
    }
}

@media (min-width: 768px) {
    .section.bg-4 {
        background-image: url(../images/Backgound-02_720.png);
    }
}

@media (min-width: 1500px) {
    .section.bg-4 {
        background-image: url(../images/Backgound-02_1440.png);
    }
}

@media (min-width: 2000px) {
    .section.bg-4 {
        background-image: url(../images/Backgound-02_1920.png);
    }
}


/* -------- RESPONSIVE BACKGROUND IMAGE  -------- */

.section.bg-4 .wrapper {
    justify-content: flex-start
}

@media(max-width:600px) {
    .section.bg-4 .following-text {
        font-size: 36px
    }
}

@media(min-width:992px) {
    .section.bg-4 .following-text {
        font-size: 48px
    }
}

@media(min-width:1500px) {
    .section.bg-4 .following-text {
        font-size: 60px
    }
}

@media(min-width:2000px) {
    .section.bg-4 .leading-text,
    .section.bg-4 .following-text {
        font-size: 70px
    }
}


/*section 5*/

.section.bg-5 {
    background: url(../images/Backgound-03.png) center center no-repeat;
    background-size: cover
}


/* -------- RESPONSIVE BACKGROUND IMAGE  -------- */

@media (min-width: 250px) {
    .section.bg-5 {
        background-image: url(../images/Backgound-03_540.png);
    }
}

@media (min-width: 768px) {
    .section.bg-5 {
        background-image: url(../images/Backgound-03_720.png);
    }
}

@media (min-width: 1500px) {
    .section.bg-5 {
        background-image: url(../images/Backgound-03_1440.png);
    }
}

@media (min-width: 2000px) {
    .section.bg-5 {
        background-image: url(../images/Backgound-03_1920.png);
    }
}


/* -------- RESPONSIVE BACKGROUND IMAGE  -------- */

.section.bg-5 .form .form-myrmica {
    color: #222;
    background: #9e9e9e66;
    box-shadow: 1.3px 1.3px 2px #00000066;
    margin-bottom: 10px;
    border-color: #fff;
    border-radius: 25px;
    padding: 30px;
}

.section.bg-5 .form .form-myrmica::placeholder {
    color: #fff;
    opacity: .8
}

.section.bg-5 .form .form-myrmica:-ms-input-placeholder {
    color: #fff;
    opacity: .8
}

.section.bg-5 .form .form-myrmica::-ms-input-placeholder {
    color: #fff;
    opacity: .8
}

@media(max-width:600px) {
    .section.bg-5 .leading-text,
    .section.bg-5 .following-text {
        font-size: 19px;
        line-height: 22.8px
    }
    .section.bg-5 .form {
        max-width: 700px;
        margin: 23px auto 0
    }
    .section.bg-5 .form .form-myrmica {
        border-radius: 7px;
        padding: 7px 10px;
        font-size: 12px;
        line-height: 14.4px
    }
    .section.bg-5 .form .btn-myrmica-primary {
        padding: 6px 38px;
        font-size: 10px;
        line-height: 12px;
        border-radius: 8px
    }
}

@media(min-width:992px) {
    .section.bg-5 .leading-text,
    .section.bg-5 .following-text {
        font-size: 30px;
        line-height: 1.2
    }
    .section.bg-5 .form {
        max-width: 700px;
        margin: 23px auto 0
    }
    .section.bg-5 .form .form-myrmica {
        border-radius: 8px;
        padding: 8px 16px;
        font-size: 15px;
        line-height: 1.2
    }
    .section.bg-5 .form .btn-myrmica-primary {
        padding: 12px 77px;
        font-size: 15px;
        line-height: 30px;
        margin-top: 0
    }
}

@media(min-width:1500px) {
    .section.bg-5 .leading-text,
    .section.bg-5 .following-text {
        font-size: 65px
    }
    .section.bg-5 .form {
        max-width: 800px;
        margin: 12px auto 0
    }
    .section.bg-5 .form .form-myrmica {
        border-radius: 20px;
        padding: 22px 25px;
        font-size: 20px;
        line-height: 25px
    }
    .section.bg-5 .form .btn-myrmica-primary {
        padding: 12px 77px;
        font-size: 25px;
        line-height: 30px;
        margin-top: 25px
    }
}

@media(min-width:2000px) {
    .section.bg-5 .leading-text,
    .section.bg-5 .following-text {
        font-size: 70px
    }
    .section.bg-5 .form {
        max-width: 900px;
        margin: 34px auto 0
    }
    .section.bg-5 .form .form-myrmica {
        border-radius: 25px;
        padding: 28px 30px;
        font-size: 25px;
        line-height: 30px
    }
    .section.bg-5 .form .btn-myrmica-primary {
        padding: 12px 77px;
        font-size: 25px;
        line-height: 30px;
        margin-top: 25px
    }
}


/*section 6*/

.section.bg-6 {
    background: url(../images/Backgound-01.png) center center no-repeat;
    background-size: cover;
    padding-top: 0;
}

.section.bg-6 .section-inner {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    height: 100%;
}

.section.bg-6 .about-us-content {
    /* padding: 5vh 0; */
    margin-top: 5vh;
    width: 100%;
    text-align: center;
}

.section.bg-6 .about-us-content h2 {
    margin-bottom: 12px;
}

.section.bg-6 .about-us-content p {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 24px;
}

.section.bg-6 .about-us-footer {
    background-color: #333333;
    color: #ffffff;
    padding: 28px 0;
}

.section.bg-6 .about-us-footer .footer-content {}

.section.bg-6 .about-us-footer .footer-content h3 {
    text-transform: uppercase;
    font-weight: bold;
}

.section.bg-6 .about-us-footer .footer-content p {
    font-size: 12px;
}

.section.bg-6 .about-us-footer .footer-content a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.section.bg-6 .about-us-footer .footer-content a.icon-wrapper {
    margin-bottom: 0;
}

.section.bg-6 .about-us-footer .footer-icon div {}

.section.bg-6 .about-us-footer .footer-icon div {
    display: inline-flex;
    border-radius: 50%;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.section.bg-6 .about-us-footer .footer-icon div.facebook {
    background: #395196;
}

.section.bg-6 .about-us-footer .footer-icon div.linkedin {
    background: #3D83D9;
}

.section.bg-6 .about-us-footer .footer-icon div.skype {
    background: #01A7FF;
}

.section.bg-6 .about-us-footer .footer-icon div.twitter {
    background: #00A9FF;
}


/*
    START CIRCLE MENU
*/

.menu-open-button {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    position: absolute;
    text-align: center;
    line-height: 30px;
    opacity: 0;
    left:15px;
    z-index: 99;
    border: 1px solid #ef2821;
}

.menu-item {
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open{
    display:none;
}
.nav__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.menu-open:checked ~ .nav__overlay {
    display:block;
}
.lines {
    width: 20px;
    height: 2px;
    background: #ef2821;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10.5px;
    margin-top: -1.5px;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
}

.line-1 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
}

.line-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.line-3 {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
}
.menu-open:checked ~ .menu-open-button{
    opacity:1;
    top:15%;
}
.menu-open:checked ~ .menu-open-button .line-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked ~ .menu-open-button .line-2 {
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
    transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked ~ .menu-open-button .line-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
    position: absolute;
    width: 80px;
    height: 80px;
    text-align: center;
    left: 0;
    bottom: 20px;
    z-index: 99;
    display: none;
}


.section-navigator-buttons.mobile-se {
    padding-bottom: 0 !important;
}


/* .menu-item {
   transition: all 0.1s ease 0s;
} */

.menu-item:hover {
    background: #EEEEEE;
    color: #3290B1;
}

.menu-item:nth-child(3) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-item:nth-child(4) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-item:nth-child(5) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-item:nth-child(6) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-item:nth-child(7) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-item:nth-child(8) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-item:nth-child(9) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-open-button {
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
}

.menu-open-button:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked+.menu-open-button {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: 200ms;
    opacity: 1 !important;
    transition-duration: 100ms;
    top: 15%;
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked~.menu-item {
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked ~ .section-navigator-buttons .menu-item.menu-item-1 {
    transition-duration: 180ms;
    transform: translate3d(0.08361px, -30.99997px, 0);
}

.menu-open:checked ~ .section-navigator-buttons .menu-item.menu-item-2 {
    transition-duration: 280ms;
    transform: translate3d(35.9466px, -23.47586px, 0);
}

.menu-open:checked ~ .section-navigator-buttons .menu-item.menu-item-3 {
    transition-duration: 380ms;
    transform: translate3d(45.9466px, 10.47586px, 0);
}

.menu-open:checked ~ .section-navigator-buttons .menu-item.menu-item-4 {
    transition-duration: 480ms;
    transform: translate3d(35.08361px, 42.99997px, 0);
}

.menu-open:checked ~ .section-navigator-buttons .menu-item.menu-item-5 {
    transition-duration: 580ms;
    transform: translate3d(0.08361px, 55.62064px, 0);
}
button.menu-item.btn.btn-section-navigator{
    left:15px;
}
@media (max-width:480px) {
    .menu {
        display: block;
    }
    .section-navigator .section-navigator-buttons.mobile-se {
        display: block !important;
    }
    .section-navigator .section-navigator-buttons .btn-section-navigator {
        width: 30px !important;
        height: 30px !important;
    }
    #canvas-holder {
        display: none !important;
    }
}


/* .menu-open:checked ~ .menu-item:nth-child(8) {
        transition-duration: 680ms;
        -webkit-transition-duration: 680ms;
        -webkit-transform: translate3d(-91.03006px, -52.33095px, 0);
        transform: translate3d(-91.03006px, -52.33095px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(9) {
        transition-duration: 780ms;
        -webkit-transition-duration: 780ms;
        -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
        transform: translate3d(-0.25084px, -104.9997px, 0);
    }*/


/*
    END CIRCLE MENU
*/


/*
    carousel mobile cho iphone SE 
*/

@media (max-width:480px) {
    .wrapper {
        margin-top: 50px;
    }
    .carousel__item-body {
        display: table;
    }
    .carousel__item-body img {
        display: table-cell;
        margin: auto;
        width: 100%;
        height: auto;
    }
    .slick-initialized .slick-slide {
        margin: 0 -7px;
    }
    .slick-carousel .slick-slide .image {
        margin: 0;
    }
    .section .section-footer .section-footer-indicator {
        display: block;
    }
    .section .section-footer {
        bottom: 40px;
        background: none;
        width: 30px;
        height: 18px;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        /* display: block; */
    }
    .section .section-footer .section-footer-indicator::before {
        width: 1px;
        height: calc(1rem + 1.6vw);
        background: #4c4c4c;
        content: "";
        position: absolute;
        bottom: -20px;
        left: 100%;
        transform: translate(-50%, -50%);
    }
}


/*
    end mobile SE  
*/

@media(max-width:600px) {
    .section.bg-6 .about-us-footer {
        padding: .5rem 0;
        height: 50vh;
    }
    .section.bg-6 .about-us-content p {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 4px;
    }
    .section.bg-6 .about-us-footer .footer-content h3 {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 8px;
    }
    .section.bg-6 .about-us-footer .footer-content a,
    .section.bg-6 .about-us-footer .footer-content p {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 4px;
    }
    .section.bg-6 .about-us-footer .footer-icon {
        margin-bottom: 6px;
    }
    .section.bg-6 .about-us-footer .footer-icon div {
        margin-right: 10px;
        box-shadow: 0.2rem 0.2rem 0 0.1rem black;
        width: 20px;
        height: 20px;
    }
}

@media(min-width:992px) {
    .section.bg-6 .about-us-content p {
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 15px;
    }
    .section.bg-6 .about-us-footer .footer-content h3 {
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 24px;
    }
    .section.bg-6 .about-us-footer .footer-content a {
        font-size: 15px;
        margin-bottom: 15px;
    }
    .section.bg-6 .about-us-footer .footer-icon {
        margin-bottom: 25px
    }
    .section.bg-6 .about-us-footer .footer-icon div {
        margin-right: 10px;
        box-shadow: 0.2rem 0.2rem 0 0.1rem black;
        width: 45px;
        height: 45px;
    }
}

@media(min-width:1500px) {
    .section.bg-6 .about-us-content p {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 18px;
    }
    .section.bg-6 .about-us-footer .footer-content h3 {
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 24px;
    }
    .section.bg-6 .about-us-footer .footer-content a,
    .section.bg-6 .about-us-footer .footer-content p {
        font-size: 15px;
        margin-bottom: 15px;
    }
    .section.bg-6 .about-us-footer .footer-icon {
        margin-bottom: 25px
    }
    .section.bg-6 .about-us-footer .footer-icon div {
        margin-right: 10px;
        box-shadow: 0.2rem 0.2rem 0 0.1rem black;
        width: 45px;
        height: 45px;
    }
}

@media(min-width:2000px) {
    .section.bg-6 .about-us-content p {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 24px;
    }
    .section.bg-6 .about-us-footer .footer-content h3 {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 40px;
    }
    .section.bg-6 .about-us-footer .footer-content a,
    .section.bg-6 .about-us-footer .footer-content p {
        font-size: 25px;
        margin-bottom: 25px;
    }
    .section.bg-6 .about-us-footer .footer-icon {
        margin-bottom: 25px
    }
    .section.bg-6 .about-us-footer .footer-icon div {
        margin-right: 10px;
        box-shadow: 0.2rem 0.2rem 0 0.1rem black;
        width: 45px;
        height: 45px;
    }
}


/** seciton navigator */

.section-navigator {
    /* position: absolute;
    bottom: 0;
    left: 40vh;
    width: 5%;
    z-index: 999;
    transition: cubic-bezier(.47,0,.745,.715) 1s; */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: cubic-bezier(.47, 0, .745, .715) 1s
}

.section-navigator .section-navigator-buttons {
    display: flex;
    flex-flow: column wrap;
    padding-bottom: 10px;
}

.section-navigator .section-navigator-buttons .btn-section-navigator {
    width: 49px;
    height: 49px;
    background: #8e8e8e;
    border: none;
    border-radius: 50%;
    margin-bottom: 5px;
}

    .section-navigator .section-navigator-buttons .btn-section-navigator.active {
        background: #ef2821;
        z-index: 98;
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
        animation: pulse-red 2s infinite;
    }

@keyframes pulse-red {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}


    .section-nav-show {
        /* visibility: visible; */
        display: flex;
    }
    
/*section 7*/

.section.bg-7 {
    background: url(../images/Backgound-02.png) center center no-repeat;
    background-size: cover
}


/* -------- RESPONSIVE BACKGROUND IMAGE  -------- */

@media (min-width: 250px) {
    .section.bg-7 {
        background-image: url(../images/Backgound-02_540.png);
    }
}

@media (min-width: 768px) {
    .section.bg-7 {
        background-image: url(../images/Backgound-02_720.png);
    }
}

@media (min-width: 1500px) {
    .section.bg-7 {
        background-image: url(../images/Backgound-02_1440.png);
    }
}

@media (min-width: 2000px) {
    .section.bg-7 {
        background-image: url(../images/Backgound-02_1920.png);
    }
}


/*section 8*/

.section.bg-8 {
    background: url(../images/Backgound-02.png) center center no-repeat;
    background-size: cover
}


/* -------- RESPONSIVE BACKGROUND IMAGE  -------- */

@media (min-width: 250px) {
    .section.bg-8 {
        background-image: url(../images/Backgound-02_540.png);
    }
}

@media (min-width: 768px) {
    .section.bg-8 {
        background-image: url(../images/Backgound-02_720.png);
    }
}

@media (min-width: 1500px) {
    .section.bg-8 {
        background-image: url(../images/Backgound-02_1440.png);
    }
}

@media (min-width: 2000px) {
    .section.bg-8 {
        background-image: url(../images/Backgound-02_1920.png);
    }
}


/* -------- RESPONSIVE BACKGROUND IMAGE  -------- */

#canvas-holder {
    display: none;
    position: absolute;
    left: -15px;
    bottom: 15px;
    width: 113px
}

#canvas-holder .pie-icon {
    position: absolute;
    z-index: 99;
    max-width: 16px
}

#canvas-holder .pie-icon.pie-mobile {
    left: 62px;
    bottom: 28px
}

#canvas-holder .pie-icon.pie-web {
    left: 49px;
    bottom: 7px
}

#canvas-holder .pie-icon.pie-ai {
    left: 36px;
    bottom: 28px
}

@media(max-width:768px) {
    #canvas-holder {
        display: block
    }
    .section-navigator .section-navigator-buttons {
        display: none
    }
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .7);
    border-color: rgba(0, 0, 0, .7);
    position: absolute;
    right: 16px;
    top: 8px;
    z-index: 99
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
    position: relative;
    margin: .5rem 25px;
    padding-left: 0;
    padding-right: 0;
    font-weight: 600
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ef2821
}

.navbar-light .navbar-nav .nav-link::before {
    content: "";
    background: #ef2821;
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all .3s;
}

.navbar-light .navbar-nav .active>.nav-link::before,
.navbar-light .navbar-nav .nav-link:hover::before {
    width: 100%
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #ef2821
}

@media(min-width:1500px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        margin-right: 1rem;
        margin-left: 1rem
    }
}

@media(min-width:2000px) {
    .container {
        max-width: 1920px
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        margin-right: 1.5rem;
        margin-left: 1.5rem
    }
}